/*GLOBAL*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}

body{
    display: flex;
    flex-direction: column;
}
/*HEADER*/
.menu {
    height: 85px;/*85 высота меню*/
    background-color: #FBF7F3;
    padding: 10px 0;
}
.menu__wrap {
    display: flex;
    justify-content: space-between;
}
.menu__logo {
    height: 50px;
    margin-top: 7px;
}
.menu__icon {
    font-size: 2.4em;
    color: #000;
    line-height: 50px;
}
nav {
    position: absolute;
    background-color: #FBF7F3;
    top:70px;
    left:0;
    width: 100%;
}
nav ul {
    list-style-type: none;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.5s;
}
nav ul li {
    padding: 0 7px;/*слева отступ для менюшек*/
 
}
nav ul li a {
    display: inline-block;
    padding: 12px;/*12*/
    /* Add your custom styles below to change appearance of links */
    color: #000;
    text-decoration: none;
    letter-spacing: 0.05em;
    
}
nav ul li:last-child a{
    border-radius: 9999px;
    color: #FFFFFF;
    background-color: #7140EB;
}
nav ul li a:hover, nav ul li a:focus {
    color: #eb6f4a;
}
.menu_nav{
    display: flex;
    justify-content: flex-end;
}
.nav_links{
    display: flex;
    justify-content: flex-end;
    border-radius: 9999px;
    margin: 13px 22px;
    background-color: #FFFFFF;
}
.menu__burger__logo{
    margin-right: 22px;
}
#checkbox {
    display: none;
}
#checkbox:checked ~ nav ul {
    max-height: 300px;/*размер раскрывающегося меню*/
    padding: 15px 0;
    transition: all 0.5s;
}

@media (min-width: 845px) { 
    .menu__icon {
        display: none;
    }
    nav {
        position: relative;
        top: -10px;
        background-color: transparent;
    }
    nav ul {
        max-height: 70px;
        padding: 7px 0;
        text-align: right;
    }
    nav ul li {
        display: inline-flex;
        padding-left: 20px;
    }
}
/* 
h1{
    font-size: 2.2em;
    text-align: center;
    padding: 60px 40px 30px;
    color: #3D4852;
    line-height: 1.2;
}
p{
    line-height: 1.6;
    font-size: 1.2em;
    padding: 0 40px;
    text-align: center;
    color: #3D4852;
} */